html {
    scroll-behavior: smooth;
    cursor:default;
}

body {
    margin: 0;
    background: black;
}

video.hide_video {
    opacity: 0;
}

video.animate_video {
    opacity: 1;
    animation: fade_in_video 4000ms;
    animation-timing-function: linear;
}

div.socials {
    position: relative;
    margin: 0;
    margin-top: 1vh;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: max(1.60vw, 2.40vh);
    align-items: center;
    height: max(3.20vw, 5.20vh);
    /* border: 2px dashed red; */
}

div.socials.socials_anim {
    animation: animate_socials 1800ms ease-out;
}

div#arrow_hint {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    /* border: 1px solid purple; */
    bottom: 7vh;
    left: 50%;
    translate: -50%;
}

#arrow_img {
    width: max(6vh,4vw);
    height: auto;
}

@keyframes animate_socials {
    from {gap: max(0vw, 0vh); height: max(0vw, 0vh);}
    to {gap: max(1.60vw, 2.40vh); height: max(3.20vw, 5.20vh);}
}

svg {
    width: max(2.8vw, 3.2vh);
    height: max(2.8vw, 3.2vh);
    fill: white;
    transition: fill 100ms ease-out;
    cursor: pointer;
}

svg:hover {
    fill: rgba(255,255,255,0.8);
}


div.center_divs {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    max-width: 90vw;
    height: auto;
    /* border: 8px solid green; */
}

div#dark_cover {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    color: black;
    background: black;
}

div#dark_cover.hide_cover {
    opacity: 0;
}

video#background_video {
    position: fixed;
    margin: 0;
    top: 50%;
    margin-left: 75vw;
    transform: translate(-75%, -50%);
    padding: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(0.4vw) brightness(0.5);
}

@keyframes fade_in_video {
    from {filter: brightness(0.0) blur(2vw);}
    to {filter: brightness(0.3) blur(0.2vw);}
}

div#background_image {
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(assets/bgs/background_0.png);
    background-color: rgba(0,0,0,0.6);
    background-blend-mode:darken;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    will-change: background-image;
    transition: all 600ms;
    filter: blur(0.2vw);
    overflow: hidden;
}

div#primary_container {
    margin: 0;
    height: auto;
}

div.center_items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    height: min(30vh,30vw);
    /* border: 4px dotted yellow; */
}

div.center_items > * {
    vertical-align: middle;
}

div.slide {
    position: relative;
    margin: 0;
    width: auto;
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: 15vh;
    overflow: hidden;
}

div.slide.long {
    margin-bottom: 25vh;
}

div.content_header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 3vh;
    height: auto;
}

div.content_header > h1 {
    color: white;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: max(min(10vh, 10vw), 60px);
    line-height: max(min(10vh, 10vw), 60px);
}

div.content_descriptor {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 3vh;
    padding-top: 0;
    width: 70%;
    height: auto;
}

a {
    color:#555;
}

div.content_descriptor > p {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    font-size: max(min(2.5vh, 5vw), 16px);
    line-height: max(min(2.5vh, 5vw), 16px);
}

div.content_main_desc {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 3vh;
    padding-top: 0;
    height: auto;
    width: 70%;
}

div.content_main_desc > p {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: max(max(2.6vh, 2.025vw), 20px);
    line-height: max(max(2.7vh, 2.225vw), 22px);
    overflow: hidden;
    text-overflow: clip;
}

div.content_main_button {
    display: flex;
    align-items: center;
    margin: 1.5vh;
    margin-left: 3vh;
    padding: 0;
    height: auto;
    outline: none;
}

div.content_main_button > button {
    color: white;
    background: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 1.5vh;
    font-size: max(min(3.2vh, 5.75vw), 24px);
    line-height: max(min(3.3vh, 6.75vw), 28px);
    min-width: max(20vw, 256px);
    border: none;
    outline: none;
    border-left: 0.1vw solid white;
    border-right: 0.1vw solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    border-radius: 0.8vw;
    transition: all 200ms ease-out;
}

div.content_main_button > button:hover {
    background: white;
    color: black;
    cursor:pointer;
}

img#asset_petals {
    margin: 0;
    height: 100%;
}

img#asset_title {
    margin: 0;
    height: 75%;
}

.logo_base {
    opacity: 0;
}

.logo_anim[id="asset_title"] {
    animation: move_title 2400ms;
    animation-timing-function: cubic-bezier(0.29, 1, 0.64, 1);

    opacity: 1; transform: translateX(0%); clip-path: rect(0px 100% 100% 0%);
}

.logo_anim[id="asset_petals"] {
    animation: rotate_flower 2400ms;
    animation-timing-function: cubic-bezier(0.29, 1, 0.64, 1);

    opacity: 1; transform: translateX(0%); clip-path: rect(0px 100% 100% 0%);
}

#asset_petals:not(.logo_anim).can_hover {
    transition: transform 200ms ease-out;
}


#asset_petals {
    transform: rotate(0deg);
}

#asset_petals.can_hover:hover {
    animation: shake_petals 400ms cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-duration: 400ms;
    animation-iteration-count: 1;
}

#asset_petals.spin_flower {
    pointer-events: none;
    transform: rotate(0deg);
    animation: spin_petals 1200ms cubic-bezier(0.29, 1, 0.64, 1);
}

@keyframes move_title {
    from {opacity: 0; transform: translateX(-50%); clip-path: rect(0px 100% 100% 100%);}
    to {opacity: 1; transform: translateX(0%); clip-path: rect(0px 100% 100% 0%);}
}

@keyframes rotate_flower {
    from {transform: rotate(120deg); opacity: 0; translate: 75% 0%}
    to {transform: rotate(0deg); opacity: 1; translate: 0 0;}
}

@keyframes spin_petals {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes shake_petals {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}

/* width */
::-webkit-scrollbar {
width: .75em;
}

/* Track */
::-webkit-scrollbar-track {
background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #333333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;

}
